* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 393px;
  background: #000;
  z-index: 2000;
  padding: 24px 16px 12px;
}

.nav-toggle {
  display: none;
}

.head-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 37px;
  width: auto;
}

.burger {
  cursor: pointer;
}
.burger-icon {
  width: 21.5px;
}

.menu {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 393px;
  height: 100vh;
  background: #000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
  z-index: 1500;
}

.nav-toggle:checked ~ .menu {
  opacity: 1;
  pointer-events: auto;
}

.menu-wrap {
  height: 100%;
  padding: 24px 16px 32px;
  display: flex;
  flex-direction: column;
}

.menu-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close {
  cursor: pointer;
}
.close-icon {
  width: 32px;
  height: 32px;
}

.menu-main {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 58px;
  width: 100%;
  padding: 0 24px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  font-family: Monda;
  letter-spacing: 0.08em;
  color: #fff;
  border-radius: 19.5px;
  border: 1px solid #fff;
  background: linear-gradient(90deg, #FE6911 0%, #FE1F1E 100%);
  box-shadow: 0px 4px 4px #00000040;
}

.btn-services {
  justify-content: space-between;
}

/* services-menu-toggle  */
.services-menu-toggle {
  display: none;
}
.btn-text-link {
  color: #ffffff;
  text-decoration: none;
  font: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}
.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn-icon img {
  width: 36px;
  height: 36px;
  display: block;
  transition: transform 0.2s ease;
}
.services-menu-toggle:checked + .btn.btn-services .btn-icon img {
  transform: rotate(45deg);
}
.services-submenu {
  max-height: 0;
  overflow: hidden;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: max-height 0.3s ease, margin-top 0.3s ease;
}

/* submenu open */
.services-menu-toggle:checked ~ .services-submenu {
  max-height: 600px;     
  margin-top: 16px;
}

/* submenu buttons */
.services-sub-btn {
  font-size: 16px;
  letter-spacing: 0.08em;
}

.btn-icon img {
  width: 36px;
  height: 36px;
  top: 228px;
  left: 323px;
}

.menu-bottom {
  margin-top: auto;
  text-align: center;
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 20px;;
  gap: 20px;
}

.social img {
  width: 32px;
  height: 32px;
}

.contact {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.line {
  display: flex;
  justify-content: center;
}

.line-link {
  display: flex;
  align-items: center;
  text-decoration: none;   
  color: inherit;         
}

.email-icon {
  width: 29px;
}

.phone-icon {
  width: 34px;
}

.line-text {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 700;
  font-family: Monda;
  letter-spacing: .03em;
  color: #fff;
}


.page-frame {
  width: 100%;
  max-width: 393px;
  margin: 0 auto;
  padding-top: 72px;
  background: #000;
}
.page-wrapper{
  width:100%;
  max-width:393px;      
  margin:0 auto;       
  background:#000000;   
  overflow:hidden;     
}
/* hero  */
.hero {
  position: relative;
  width: 100%;
  max-width: 393px;     
  height: 589px;
  margin: 0 auto;
  overflow: hidden;
  background: #000;
}
.hero__bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 699px;;
  object-fit: cover;
  z-index: 1;
}
.hero__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.36);
  z-index: 2;
}

.hero::before,
.hero::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 220px;
  pointer-events: none;
  z-index: 3;
  background: linear-gradient(
    180deg,
    #000000 21.63%,
    rgba(0, 0, 0, 0) 100%
  );
}

.hero::before {
  top: 0;
}

.hero::after {
  bottom: 0;
  transform: rotate(180deg);
}

.hero__inner {
  position: relative;
  z-index: 4;
  max-width: 393px;
  height: 100%;
  margin: 0 auto;
  padding: 0 16px 40px;
  display: flex;
  align-items: flex-end;
}
 /* about-section */
.about-section {
  width: 100%;
  max-width: 393px;   
  margin: 0 auto;   
  background: #000;
  padding: 60px 0;
}

.about-inner {
  max-width: 393px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

.about-title {
  width: 212px;
  font-family: Monda;
  font-weight: 700;
  font-size: 40px;
  font-style: bold;;
  line-height: 120%;
  margin-bottom: 28px;
  background: linear-gradient(135deg, #FF6A12 50%, #FF1E1E 81.77%),
  linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.about-tagline {
  width: 361px;
  font-family: Monda;
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  color: #fff;
  margin-bottom: 24px;
}

.about-text {
  width: 361px;
  font-family: Arial;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  margin-bottom: 50px;
}

.about-image {
  width: 100%;
  height: 255px;      
  object-fit: cover;
  border-radius: 14px;
  display: block;
  max-width: 393px;   
  margin: 0 auto;
}
/* services-section */
.services-section {
  width: 100%;
  max-width: 393px;   
  margin: 0 auto;   
  background: #000;
  padding: 40px 0 60px;
 
}
.services-title {
  width: 200px;
  height: 96px;
  font-family: Monda;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0;
  background: linear-gradient(135deg, #FF6A12 50%, #FF1E1E 81.77%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding-left: 16px;
}

.services-image {
  width: 100%; 
  width: 100%;
  max-width: 393px;   
  margin: 0 auto;   
  background: #000;        
  height: auto;          
  display: block;
  margin-top: 40px;;
}
.why-title {
  height: 96px;
  font-family: Monda;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0;
  background: linear-gradient(135deg, #FF6A12 50%, #FF1E1E 81.77%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
padding-left: 16px;
}
.agile-section{
  width:100%;
  max-width:393px;
  margin:0 auto;
  padding:32px 0;
  background:#000;
  box-sizing:border-box;
}

.agile-wrap{
  width:100%;
  padding-left:0;
}

.agile-slider .swiper-slide{
  display:flex;
  justify-content:center;
}

.agile-card{
  width:369px;
  height:329px;
  padding:32px 26px;
  box-sizing:border-box;
  text-align:center;

  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:flex-start;
  gap:24px;

  border-radius:18px;
  border:4px solid transparent;
  background:
    linear-gradient(#ffffff,#ffffff) padding-box,
    linear-gradient(180deg,#FE1E1E 0%,#FE6911 100%) border-box;
}

.agile-title{
  font-family:Monda;
  font-weight:700;
  font-size:30px;
  line-height:124%;
  text-transform:uppercase;

  background:linear-gradient(135deg,#FF6A12 50%,#FF1E1E 81.77%);
  -webkit-background-clip:text;
  background-clip:text;
  color:transparent;

  margin:0;
}

.agile-text{
  font-family:Arial;
  font-weight:400;
  font-size:20px;
  line-height:120%;
  color:#000;
  margin:0;
}

.agile-dots{
  text-align:center;
  margin-top:20px;
}

.agile-dots .swiper-pagination-bullet{
  width:8px;
  height:8px;
  background:#D4D4D4;
  opacity:1;
  margin:0 4px;
}

.agile-dots .swiper-pagination-bullet-active{
  background:#FE6114;
}


.influencers-heading{
  width:328px;
  height:58px;
  margin:0 0 40px 15px;   
  font-family: Monda;
  font-weight:700;
  font-size:26px;
  line-height:110%;
  letter-spacing:0;
  text-transform:uppercase;
  background: linear-gradient(135deg, #FF6A12 50%, #FF1E1E 81.77%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.Influencer-Slider{
  width:393px;
  margin:0 auto;
  background:#000;
  overflow:hidden;
}
.Influencer-Track{
  display:flex;
  gap: 10px;
  padding:0 14px;
  overflow-x:auto;
  scroll-snap-type:x mandatory;
  scroll-behavior:smooth;
  -webkit-overflow-scrolling:touch;
  touch-action:pan-x;
  overscroll-behavior-inline:contain;
}
.Influencer-Track::-webkit-scrollbar{
  display:none;
}
.Influencer-Card{
  flex:0 0 auto;
  width:216px;
  height:485px;
  border-radius:33px;
  overflow:hidden;
  position:relative;
  scroll-snap-align:center;
  scroll-snap-stop:always;
}
.Influencer-Image{
  width:100%;
  height:100%;
  object-fit:cover;
}
.Influencer-Icon{
  position:absolute;
  top:12px;
  left:12px;
  width:56px;
  height:45px;
  opacity:1;
  z-index:5;
}
.Influencer-Icon img{
  width:100%;
  height:100%;
  object-fit:contain;
}
.Influencer-White-Box{
  position:absolute;
  bottom:0%;
  left:50%;
  transform:translateX(-50%);
  width:217px;
  height:119px;
  background:#FFFFFF;
  border:2px solid #000000;
  border-radius:26px;
  opacity:1;
  display:flex;
  align-items:center;
  justify-content:center;
}
.Influencer-Information{
  text-align:center;
}
.Influencer-Name{
  display:block;
  height:21px;
  margin:0 auto;
  font-family:Monda;
  font-weight:700;
  font-size:20px;
  line-height:100%;
  color:#000000;
  text-decoration:none;
}
.Influencer-Divider{
  display:block;
  width: 217px;
  height:3px;
  background:#000000;
  margin:8px auto;
}

.Influencer-Followers{
  display:block;
  width:165px;
  height:23px;
  margin:0 auto;
  font-family:Monda;
  font-weight:700;
  font-size:20px;
  line-height:100%;
  color:#000000;
  text-decoration:none;
}
.black-space {
    width: 100%;
    max-width: 393px;
    height: 50px;       
    background: #000;    
    margin: 0 auto;
}
/* START YOUR JOURNEY SECTION  */
.journey-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}
.journey-card {
  position: relative;
  width: 393px;
  height: 491px;
  overflow: hidden;
  border-radius: 0;             
}

.journey-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.journey-card::before,
.journey-card::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  pointer-events: none;
}

.journey-card::before {
  top: 0;
  height: 60%;
  background: linear-gradient(
    180deg,
    #000000 21.63%,
    rgba(0,0,0,0) 100%
  );
}

.journey-card::after {
  bottom: 0;
  height: 60%;
  background: linear-gradient(
    0deg,
    #000000 21.63%,
    rgba(0,0,0,0) 100%
  );
}

.journey-card-content {
  position: relative;
  z-index: 2;
  height: 100%;
  padding: 64px 32px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.journey-heading {
  color: #ffffff;
  font-family: Monda;
  font-weight: 700;
  font-size: 32px;
  justify-content: center;
  line-height: 1.3;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin-top: 45px;     
}


.journey-heading span {
  display: block;
}

.journey-cta img {
  display: block;
  width: 176px;     
  height: auto;      
  padding: 0;        
  margin-top: 16px; 
}

/* footer  */
.footer {
  width: 393px;          
  margin: 0 auto;         
  background: #000000;    
  padding: 0;
}
.footer-top-box {
  width: 100%;            
  background: #000000;
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  padding: 50px 24px 24px;
  color: #ffffff;
  text-align: center;
  font-family: Arial;
}

.ft-logo {
  width: 276px;
  height: 63px;
  display: block;
  margin: 0 auto 16px;
}
.ft-text {
  font-size: 16px;
  font-weight: 400;
  font-style: regular;
  line-height: 1.5;
  opacity: 0.9;
  margin-bottom: 20px;
}
.ft-social {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 24px;
}

.ft-social img {
  width: 22px;
  height: 22px;
}
.ft-call img {
  width: 150px;
  display: block;
  margin: 0 auto;
}

.footer-menu {
  width: 393px;               
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  font-family: Monda;
  font-size: 20px;
  font-style: bold;
  font-weight: 700;
  color: #ffffff;
}
.footer-menu-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 0.45;
}
.footer-menu::before {
  top: 0;
  height: 60%;
  background: linear-gradient(
    180deg,
    #000000 21.63%,
    rgba(0,0,0,0) 100%
  );
}
.footer-menu-inner {
  position: relative;
  z-index: 2;
  padding: 24px 24px 16px;
}
.fm-heading {
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0 10px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #fff
}
.fm-heading:not(:first-of-type) {
  margin-top: 22px;                        
  padding-top: 10px;
  border-top: 1px solid rgba(255,255,255,0.4);  
}
.fm-link {
  display: block;
  font-size: 13px;
  padding: 4px 0;
  text-decoration: none;
  color: #ffffff;
}
.fm-info {
display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  padding: 4px 0;
  color: #fff;
}

.fm-info img {
  width: 18px;
  height: 18px;
}
.fm-bottom {
  margin-top: 16px;
  padding-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 11px;
  text-align: center;
  opacity: 0.85;
}
.fm-mini-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 11px;
}
.fm-contact {
  color: #ffffff;
  text-decoration: none;   
  font-weight: 700;
}

.fm-contact:hover {
  opacity: 0.85;
}