* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 393px;
  background: #000;
  z-index: 2000;
  padding: 24px 16px 12px;
}

.nav-toggle {
  display: none;
}

.head-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 37px;
  width: auto;
}

.burger {
  cursor: pointer;
}
.burger-icon {
  width: 21.5px;
}

.menu {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 393px;
  height: 100vh;
  background: #000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
  z-index: 1500;
}

.nav-toggle:checked ~ .menu {
  opacity: 1;
  pointer-events: auto;
}

.menu-wrap {
  height: 100%;
  padding: 24px 16px 32px;
  display: flex;
  flex-direction: column;
}

.menu-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close {
  cursor: pointer;
}
.close-icon {
  width: 32px;
  height: 32px;
}

.menu-main {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 58px;
  width: 100%;
  padding: 0 24px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  font-family: Monda;
  letter-spacing: 0.08em;
  color: #fff;
  border-radius: 19.5px;
  border: 1px solid #fff;
  background: linear-gradient(90deg, #FE6911 0%, #FE1F1E 100%);
  box-shadow: 0px 4px 4px #00000040;
}

.btn-services {
  justify-content: space-between;
}

/* services-menu-toggle  */
.services-menu-toggle {
  display: none;
}
.btn-text-link {
  color: #ffffff;
  text-decoration: none;
  font: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}
.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn-icon img {
  width: 36px;
  height: 36px;
  display: block;
  transition: transform 0.2s ease;
}
.services-menu-toggle:checked + .btn.btn-services .btn-icon img {
  transform: rotate(45deg);
}
.services-submenu {
  max-height: 0;
  overflow: hidden;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: max-height 0.3s ease, margin-top 0.3s ease;
}

/* submenu open */
.services-menu-toggle:checked ~ .services-submenu {
  max-height: 600px;     
  margin-top: 16px;
}

/* submenu buttons */
.services-sub-btn {
  font-size: 16px;
  letter-spacing: 0.08em;
}

.btn-icon img {
  width: 36px;
  height: 36px;
  top: 228px;
  left: 323px;
}

.menu-bottom {
  margin-top: auto;
  text-align: center;
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 20px;;
  gap: 20px;
}

.social img {
  width: 32px;
  height: 32px;
}

.page-frame {
  width: 100%;
  max-width: 393px;
  margin: 0 auto;
  padding-top: 72px;
  background: #000;
}
.page-wrapper{
  width:100%;
  max-width:393px;      
  margin:0 auto;       
  background:#000000;   
  overflow:hidden;     
}
/* hero  */
.hero {
  position: relative;
  width: 100%;
  max-width: 393px;     
  height: 589px;
  margin: 0 auto;
  overflow: hidden;
  background: #000;
}
.hero__bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 699px;;
  object-fit: cover;
  z-index: 1;
}
.hero__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.36);
  z-index: 2;
}

.hero::before,
.hero::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 220px;
  pointer-events: none;
  z-index: 3;
  background: linear-gradient(
    180deg,
    #000000 21.63%,
    rgba(0, 0, 0, 0) 100%
  );
}

.hero::before {
  top: 0;
}

.hero::after {
  bottom: 0;
  transform: rotate(180deg);
}

.hero__inner {
  position: relative;
  z-index: 4;
  max-width: 393px;
  height: 100%;
  margin: 0 auto;
  padding: 0 16px 40px;
  display: flex;
  align-items: flex-end;
}

/* directly-section */
.directly-section{
  width:393px;
  margin:0 auto;
  padding:60px 0 80px;
  background:#000000;
  text-align:center;
}
.directly-title{
  width:223px;
  margin:0 auto 40px;
  font-family:Monda;
  font-size:40px;
  font-weight:700;
  line-height:110%;
  color:#FFFFFF;
}
.directly-btn{
  display:block;
  margin:0 auto 22px;
}
.directly-btn img{
  width:280px;         
  max-width:100%;
  height:auto;
  display:block;
  margin:0 auto;
}
.directly-or{
  width:74px;
  margin:20px auto 26px;
  font-family:Monda;
  font-size:40px;
  font-weight:700;
  line-height:110%;
  color:#FFFFFF;
}
.directly-schedule{
  display:block;
  width:195px;
  height:56px;
  margin:0 auto;
}

.directly-schedule img{
  width:100%;
  height:100%;
  object-fit:contain;
}
.vision-heading{
  width:318px;
  height:48px;
  margin:40px auto 0;
  text-align:center;
  font-family: Monda;
  font-weight:700;
  font-size:22px;
  line-height:110%;
  letter-spacing:0;
  color:#FFFFFF;             
}

/* contact-form  */
.contact-form{
  width:393px;
  margin: 40px auto 0; 
  padding:20px 0;
}
.contact-input{
  width:362px;
  height:58px;
  margin:0 auto 45px;
  display:block;
  border-radius:19.5px;
  border:1px solid #FFFFFF;
  background:linear-gradient(90deg,#FE6612 0%,#FE211D 100%);
  box-shadow:0px 6px 7.4px rgba(255,255,255,0.25);
  font-family:Monda;
  font-size:14px;
  font-weight:700;
  color:#FFFFFF;
  padding:0 16px;
  box-sizing:border-box;
  outline:none;
}
.contact-input::placeholder{
  color:#FFFFFF;
  opacity:1;
}
.reason-dropdown{
  width:362px;
  margin:0 auto 22px;
  font-family:Monda;
}
.reason-dropdown summary{
  list-style:none;
}
.reason-dropdown summary::-webkit-details-marker{
  display:none;
}
.reason-dropdown summary{
  height:58px;
  padding:0 16px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  border-radius:19.5px;
  border:1px solid #FFFFFF;
  background:linear-gradient(90deg,#FE6911 0%,#FE1F1E 100%);
  box-shadow:0px 6px 7.4px rgba(255,255,255,0.25);
  cursor:pointer;
}

.reason-text{
  font-size:14px;
  font-weight:700;
  color:#FFFFFF;
  line-height:57.94px;
}

.reason-arrow{
  width:22px;
  height:22px;
  filter:brightness(0) invert(1);
  object-fit:contain;
  transition:transform .10s ease;
}
.reason-dropdown details[open] .reason-arrow{
  transform:rotate(180deg);
}
.reason-options{
  margin-top:14px;
  display:flex;
  flex-direction:column;
  gap:14px;
}

.reason-options a{
  height:58px;
  padding-left:16px;
  display:flex;
  align-items:center;
  border-radius:19.5px;
  border:1px solid #FFFFFF;
  background:linear-gradient(90deg,#FE6612 0%,#FE211D 100%);
  box-shadow:0px 6px 7.4px rgba(255,255,255,0.25);
  font-size:14px;
  font-weight:700;
  color:#FFFFFF;
  text-decoration:none;
}
/* message*/
.contact-message{
  width:362px;
  height:132px;
  display:block;
  margin:0 auto 22px;
  border-radius:19.5px;
  border:1px solid #ffffff;
  background: linear-gradient(90deg, #FE6911 0%, #FE1F1E 100%);
  box-shadow: 0px 6px 7.4px rgba(255,255,255,0.25);
  font-family: Monda;
  font-size:14px;
  font-weight:700;
  color:#ffffff;
   padding:16px;
  box-sizing:border-box;
  resize:none;        
  outline:none;
}
.contact-message::placeholder{
  font-family: Monda;
  font-size:14px;
  font-weight:700;
  color:#ffffff;
  opacity:1;
}
/* checkbox */
.form-actions{
  width: 362px;
  margin: 24px auto 0;
  margin-top: 50px;;
}
.form-check{
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;
  font-family: Monda;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
}
.form-check input{
  width: 17px;
  height: 17px;
  margin-top: 3px;
  cursor: pointer;
}
.submit-btn{
display: block;         
margin: 30px 0 0 5px;   
text-decoration: none;
}
.submit-btn img{
  width: 120px;    
  height: auto;
  display: block;
}
/* contact-card  */
.contact-card{
  width:361px;
  height: 375px;
  padding:32px 22px;
  margin:40px auto 0;  
  border-radius:34px;
  background:linear-gradient(180deg,#FD6711 0%,#FD201D 100%);
  border:1px solid #ffffff;
  box-shadow:0 6px 7.4px rgba(255,255,255,0.25);
  box-sizing:border-box;
}
.contact-row{
  display:flex;
  align-items:center;     
  margin-bottom:18px;
}

.contact-icon{
  width:50px;
  height:50px;
  margin-right:14px;
  flex-shrink:0;
}

.contact-text{
  font-family:Monda;
  font-size:18px;
  font-weight:700;
  color:#ffffff;
  line-height:1;        
  text-decoration:none;  
}

/* stay connected */
.stay-title{
  margin-top:26px;
  margin-bottom:14px;
  font-family:Monda;
  font-size:16px;
  font-weight:700;
  color:#ffffff;
  text-align:left;      
  padding-left:4px;    
}
.social-row{
  display:flex;
  gap:12px;
}
/*  circle */
.social-icon{
  width:40px;
  height:40px;
  background:#000000;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
}
.social-icon.instagram img{
  width:23px;
  height:23px;
}
.social-icon.linkedin img{
  width:22px;
  height:22px;
}
.social-icon.youtube img{
  width:32px;
  height:21px;
}
.map-section{
  width:100%;
  max-width:393px;
  margin:0 auto;
  background:#000000;  
  padding:40px 0;
}

.map-wrapper{
  width:390px;
  height:202px;
  margin:10px auto 10px;
  background:#000000;
  overflow:hidden;
}

.map-wrapper iframe{
  width:100%;
  height:100%;
  border:0;
  display:block;
}

/* footer  */
.footer {
  width: 393px;          
  margin: 0 auto;         
  background: #000000;    
  padding: 0;
}
.footer-top-box {
  width: 100%;            
  background: #000000;
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  padding: 50px 24px 24px;
  color: #ffffff;
  text-align: center;
  font-family: Arial;
}

.ft-logo {
  width: 276px;
  height: 63px;
  display: block;
  margin: 0 auto 16px;
}
.ft-text {
  font-size: 16px;
  font-weight: 400;
  font-style: regular;
  line-height: 1.5;
  opacity: 0.9;
  margin-bottom: 20px;
}
.ft-social {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 24px;
}

.ft-social img {
  width: 22px;
  height: 22px;
}
.ft-call img {
  width: 150px;
  display: block;
  margin: 0 auto;
}

.footer-menu {
  width: 393px;               
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  font-family: Monda;
  font-size: 20px;
  font-style: bold;
  font-weight: 700;
  color: #ffffff;
}
.footer-menu-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 0.45;
}
.footer-menu::before {
  top: 0;
  height: 60%;
  background: linear-gradient(
    180deg,
    #000000 21.63%,
    rgba(0,0,0,0) 100%
  );
}
.footer-menu-inner {
  position: relative;
  z-index: 2;
  padding: 24px 24px 16px;
}
.fm-heading {
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0 10px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #fff
}
.fm-heading:not(:first-of-type) {
  margin-top: 22px;                        
  padding-top: 10px;
  border-top: 1px solid rgba(255,255,255,0.4);  
}
.fm-link {
  display: block;
  font-size: 13px;
  padding: 4px 0;
  text-decoration: none;
  color: #ffffff;
}
.fm-info {
display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  padding: 4px 0;
  color: #fff;
}

.fm-info img {
  width: 18px;
  height: 18px;
}
.fm-bottom {
  margin-top: 16px;
  padding-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 11px;
  text-align: center;
  opacity: 0.85;
}
.fm-mini-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 11px;
}
.fm-contact {
  color: #ffffff;
  text-decoration: none;   
  font-weight: 700;
}

.fm-contact:hover {
  opacity: 0.85;
}